{{ partial "header" . }}

<main>
    <div style="position:absolute;height:100%; left:0%; top: 10px;">
        <img src="tux.gif">
    </div>
    <div style="position:absolute;height:100%; left:50%;">
        <img src="k8s.gif">
    </div>
    <div class="intro">
        {{ with .Site.Params.profilePic }} <img class="profile" src="{{ . }}"> {{ end }}
        <h1>{{ .Site.Title }}</h1>
        <h2>{{ markdownify .Site.Params.Description }}</h2>
        {{ with .Content }} <div class="homepage-content text-justify">{{ . }}</div> {{ end }}
    </div>
</main>

{{ partial "footer" . }}
